
body {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    width: 400px;
    height: 330px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(131, 131, 131, 0.685);
    border-top: 10px solid salmon;
}

input {
    width: 350px;
    height: 25px;
    display: block;
    margin: 8px auto;
    font-size: 18px;
    border: 1px solid rgb(212, 206, 205);
}

label {
    margin-left: 16px;
}

button {
    display: block;
    width: 80px;
    height: 30px;
    background-color: salmon;
    color: white;
    font-weight: bold;
    border: 0;
    border-radius: 4px;
    margin: auto;
}

button:hover {
    background-color: rgb(224, 109, 96);
    cursor: pointer;
}

input:active {
    outline: none;
}